{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region element.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  {% if region_wrapper.element == 'none' %}
    {{ content }}
  {% else %}
    <{{ region_wrapper.element|default('div') }} {{ attributes }}>
      {{ content }}
    </{{ region_wrapper.element|default('div') }}>
  {% endif %}
{% endif %}
